<div class="phone-page-registration-completed">
  <div class="content-registration-completed">
    <div class="welcome-message">
      <h1>Lets go!</h1>
    </div>
    <div class="button-start-swiping">
      <%= simple_form_for :search, url:  location_set_user_path(current_user), method: :post do |f| %>
        <%= f.input :query, as: :hidden %>
        <%= f.submit "Get swiping!", class: "swiping" %>
      <% end %>
    </div>
  </div>
  <div class="images-swipe">
    <%= image_tag("swipe left for no.png") %>
    <%= image_tag("swipe right to match.png") %>
  </div>
</div>