<div class="phonepage">
  <div class="user-img-swipe">
    <%= image_tag (@user.facebook_picture_url) %>
  </div>
  <div class="name-header">
    <h1><%= @user.full_name %></h1>
  </div>
  <div class="profile">
    <div class="profile1">
      <div class="user-cuisines">
        Cuisine interests
        <ul>
          <li>
            <%= @user.cuisine_list %>
          </li>
        </ul>
      </div>
      <div class="user-interests">
        User interests
        <ul>
          <li>
            <%= @user.interest_list %>
          </li>
        </ul>
      </div>
    </div>
    <div class="user-restrictions">
      Restrictions
      <ul>
        <li>
          <%= @user.restriction_list %>
        </li>
      </ul>
    </div>
  </div>
  <div>
  </div>
  <div class="reactions">
    <div class="like">
      <%= link_to matching_user_path(id: @user.id), method: :post, class: "navbar-wagon-brand" do %>
        <%= image_tag "like.png" %>
      <% end %>
    </div>
    <div class="dislike">
      <%= link_to matching_user_path(id: @user.id), method: :post, class: "navbar-wagon-brand" do %>
        <%= image_tag "dislike.png" %>
      <% end %>
    </div>
  </div>
</div>