<h1>Show page.. profile page</h1>

<h3><%= @user.first_name %></h3>



<div>
  Cuisine interests
  <ul>
    <li>
      <%= @user.cuisine_list %>
    </li>
  </ul>
</div>

<div>
  Cuisine interests
  <ul>
    <li>
      <%= @user.cuisine_list %>
    </li>
  </ul>
</div>
<div>
  <%= link_to "like", matching_user_path(id: @user.id), method: :post%>
  <%= link_to "dislike", user_path(User.except(current_user).sample(1)) %>



</div>





